body{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:50vh 50vh;
    margin:0;
}

header{
    grid-row:1;
    grid-column:1;
    background-color:red;
}

nav{
    grid-row:1;
    grid-column:2;
    background-color:blue;
}

main{
    grid-row:2;
    grid-column:1;
    background-color:green;
}

footer{
    grid-row:2;
    grid-column:2;
    background-color:yellow;
}

h1{
    font-size: 5vw;
}